---
import { ScheduleItem } from "../../models/ScheduleItem";

interface Props {
  value: ScheduleItem;
}

const { value } = Astro.props;
---

<div class="p-4 border border-gray-400 rounded-md h-40 flex flex-col">
  <p class="text-xl font-medium">{value.title}</p>
  <div class="flex flex-row mt-auto justify-between">
    <div>
      <p>Aula magna</p>
    </div>
    <div>
      <p>10:00 - 12:00</p>
    </div>
  </div>
</div>
