---
import { SpeakerLinks } from '../../scripts/api/sessionize_api';

interface Props {
  links: SpeakerLinks;
}

const { links:{ websites, ...known_links} }:Props = Astro.props;



---

<div class="flex flex-row items-center">
  {Object.keys(known_links).map(k => {
    const link = known_links[k];
    if (link && typeof link === 'string') {
      return (
        <div
          class="p-1 mr-2 cursor-pointer hover:opacity-75 transition-opacity"
          role="button"
          speaker-href={link}
        >
          <img class="w-6" src={`/assets/vectors/${k}_logo.svg`} /> {/*TODO custom logo for companyWebsite*/}
        </div>
      );
    }
  })}
  {
    websites &&
      websites.map((website:string) => (
        <div
          class="p-1 mr-2 cursor-pointer hover:opacity-75 transition-opacity"
          speaker-href={website}
          role="button"
        >
          <img class="w-6" src="/assets/vectors/web_logo.svg" />
        </div>
      ))
  }
</div>
