---
// Welcome to Astro! Everything between these triple-dash code fences

import Footer from "../components/Common/Footer.astro";
import Navbar from "../components/Common/Navbar.astro";
import PageHead from "../components/Common/PageHead.astro";

---

<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<html lang="it" class="scroll-smooth flex flex-col min-h-screen">
  <PageHead />

  <body class="flex flex-col flex-1">
    <Navbar />

    <main
      id="swup"
      class="main-content transition-fadeh-screen flex flex-col justify-center max-w-6xl m-auto px-4 pb-12 flex-1"
      data-swup="0"
    >
      <Navbar />
      <h1 class="font-bold text-3xl text-center">Ops!</h1>
      <div class="my-5"></div>
      <a class="py-2 px-4 rounded-r-sm bg-amber-500 hover:bg-amber-600 text-white ease-in duration-100" href="/"> Return to home</a>
    </main>
    <Footer />
  </body>
</html>
