---
// Welcome to Astro! Everything between these triple-dash code fences

import Navbar from "../components/Common/Navbar.astro";
import PageHead from "../components/Common/PageHead.astro";

// is your "component frontmatter". It never runs in the browser.
console.log("This runs in your terminal, not the browser!");
---

<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<html lang="it" class="scroll-smooth flex flex-col min-h-screen">
  <PageHead />

  <body class="flex flex-col flex-1">
    <Navbar />

    <main
      id="swup"
      class="main-content transition-fadeh-screen flex flex-col justify-center max-w-6xl m-auto px-4 pb-12 flex-1"
      data-swup="0"
    >
      <Navbar />
      <h1 class="font-bold text-3xl text-center">Ops!</h1>
    </main>
  </body>
</html>
