---
import BaseLayout from "../components/Common/BaseLayout.astro";
---

<BaseLayout pageTitle="Contest">
  <div class="flex flex-col">
    <img
      src="/assets/images/contest/contest.webp"
      alt="Large Event Image"
      class="h-max-128 w-auto pb-16"
    />
    <p>
      DevFest Bari will be not only full of contents but also full of emotions,
      and we want to collect them all to review for the next days and never
      forget them🚀
    </p>
  </div>

  <div class="row mt-4">
    <div class="col-lg-6 d-flex flex-column justify-content-center">
      <h3 class="font-medium text-lg my-2">How it Works?</h3>
      <p>
        Post your photos on socials using <strong>#DevFestBari23</strong> on
        December 2nd October tagging us!
      </p>
      <p>
        <p>
          You can choose to do this challenge on your preferred social, just
          remember to tag <strong>@gdgbari</strong> on
          <a
            class="text-amber-500"
            href="https://twitter.com/gdgbari"
            target="_blank"
            rel="noopener noreferrer">Twitter</a
          >,
          <a
            class="text-amber-500"
            href="https://www.instagram.com/gdgbari/"
            target="_blank"
            rel="noopener noreferrer">Instagram</a
          >, or
          <a
            class="text-amber-500"
            href="https://www.linkedin.com/company/gdgbari/"
            target="_blank"
            rel="noopener noreferrer">LinkedIn</a
          >.
        </p>
      </p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h3 class="font-medium text-lg my-2">Would you like to win a prize?</h3>
      <p>Follow these steps:</p>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge badge-primary mr-2">1</span>
           📸 Take a photo with at least one of the team members and ask for the
          <span class="text-amber-500"> magic word</span>.
        </li>
        <li class="list-group-item">
          <span class="badge badge-secondary mr-2">2</span>
           🤳 Take a <span style="color: #F89192; font-style: italic;">
            selfie
          </span> with at least one speaker.
        </li>
        <li class="list-group-item">
          <span class="badge badge-success mr-2">3</span>
           🗣️ Take a photo of your<span
            style="color: #BABF9F; text-decoration: underline;"
          >
            favorite 3 talks
          </span>, writing the topic on the post.
        </li>
        <li class="list-group-item">
          <span class="badge badge-info mr-2">4</span>
           🤗 Take a photo with as many <span
            style="color: #F2CD5A; font-weight: bold;"
          >
            friends
          </span> as possible (important to win).
        </li>
      </ul>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h3 class="font-medium text-lg my-2">Submitting Your Entries</h3>
      <p>
        Once you've completed the challenge, find Michela Bertaina and show her
        all the posts from your account (with <strong>#DevFestBari23</strong>
        and tags).
      </p>
      <p>
        The winner will be announced at the end of the event and will receive an
        amazing prize!
      </p>
      <p class="font-italic">
        <strong>Tip to win</strong>: Take photos with as many people as possible
        😉
      </p>
    </div>
  </div>
</BaseLayout>
