---
// Welcome to Astro! Everything between these triple-dash code fences

import Footer from "../components/Common/Footer.astro";
import Navbar from "../components/Common/Navbar.astro";
import PageHead from "../components/Common/PageHead.astro";
import PageTitle from "../components/Common/PageTitle.astro";

// is your "component frontmatter". It never runs in the browser.
console.log("This runs in your terminal, not the browser!");
---

<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<html lang="it" class="scroll-smooth">
  <PageHead />

  <body class="flex flex-col">
    <Navbar />

    <main
      id="swup"
      class="main-content transition-fade flex flex-col max-w-6xl m-auto px-4 pb-12 flex-1"
      data-swup="0"
    >
      <PageTitle title="Faq" />
      <div class="grid md:grid-cols-2 grid-flow-row gap-4">
        <div class="flex flex-col justify-start">
          <h2 class="font-semibold text-4xl">General</h2>
        </div>
        <div>
          <p>
            We know that you could have some questions so we prepared for you a
            list of FAQs that may can help you 💪<br />

            Anyway we are alway open to solve any other doubt you could have,
            feel free to contact us in that case.
          </p>
          <p>
            <p class="font-semibold text-lg my-2">How do I get there?</p>
            <p>
              You can easily reach Polo Fibonacci with public transportation or
              just by walking. Please check the location page where you can find
              further details.
            </p>
            <p class="font-semibold text-lg my-2">
              Do I need a ticket to join DevFest Pisa?
            </p>

            <p>
              Yes, participation to the DevFest is free, but registration is
              mandatory. Being in the waiting list is not sufficient to
              participate to the conference.
            </p>

            <p class="font-semibold text-lg my-2">
              I can't attend the DevFest, what should I do?
            </p>

            <p>
              If you can't attend we kindly ask you to cancel your order via the
              GDG platform, or either send us an email (we can do it for you).
              The event is currently Sold-out and we have a lot of people in the
              waiting list. You will free-up a spot for someone else :)
            </p>
            <p class="font-semibold text-lg my-2">
              Do I need to print my tickets?
            </p>

            <p>
              No, you can use your smartphone to show us the ticket. Showing the
              ticket email with the QR code is also enough. Please make sure to
              have your ticket ready to do not slow down the check-in process.
              Should I come even if I'm still on the waiting list? You can come
              even if you're in the waiting list, but we can't assure you will
              get a spot :( We will release tickets of people that don't show up
              during day so you may have a chance to get in, but this is out of
              our control, and we can't tell you in advance if you'll get a
              place.
            </p>

            <p class="font-semibold text-lg my-2">
              Can I give my ticket to a friend?
            </p>

            <p>
              Sadly this is not possible. If you're not planning to come, please
              cancel your ticket and ask your friend to register themselves for
              a new ticket.
            </p>

            <p class="font-semibold text-lg my-2">
              Can I leave the conference and come back later?
            </p>

            <p class="font-semibold text-lg my-2">
              Yes, you can always leave the conference and come back whenever
              you want. To enter the venue you anyway always need your badge
              (you will get it at the entrance).
            </p>
            <p class="font-semibold text-lg my-2">
              I have the workshop ticket but I don't have the DevFest ticket?
            </p>
            <p class="font-semibold text-lg my-2">
              Can I participate to the workshop only? No, as written in the
              workshop description, you need a DevFest ticket to join all the
              sessions (either talks or workshop).
            </p>
            <p class="font-semibold text-lg my-2">
              I registered on meetup.com. Is that valid as a ticket?
            </p>
            <p>
              No, the only valid tickets for eventbrite are the one available on
              the GDG platform.
            </p>
            <p class="font-semibold text-lg my-2">
              What should I carry on to the conference?
            </p>
            <p>
              Your ticket. That's the only necessary thing you shouldn't forget.
              If you're attending one of our Workshops, the speakers will let
              you know if you need to carry on your laptop or not.
            </p>
            <p class="font-semibold text-lg my-2">
              Will I get food/lunch at the DevFest?
            </p>
            <p>
              Yes, we are offering a small lunch (beware just little food and
              refreshments, not a full lunch) and two coffee breaks. You can
              find a lot of nice restaurants in via San Lorenzo, just a few
              minutes walk from the venue.
            </p>
            <p class="font-semibold text-lg my-2">
              Are you giving away any gadgets/awards?
            </p>
            <p>
              Yes, we have some swags for all the participants + some giveaways
              to give as a raffle 🎁. All the details at the opening ceremony.
            </p>
            <p class="font-semibold text-lg my-2">
              Are the sessions recorded?
            </p><p>No, we are not recording/live-streaming the sessions.</p>
            <p class="font-semibold text-lg my-2">What is the Job Board? --></p>
            <p>
              The job board is a pin board where you're free to post your job
              openings. Rules for the Job board are here: Introducing the Job
              Wall.
            </p>
            <p class="font-semibold text-lg my-2">
              What is the Beer Party? -->
            </p>
            <p>
              The beer party is a party event we organized for the DevFest Pisa
              attendees. You're all invited. It will be at "Lo Spaventapasseri -
              The Scare Crow", all the details are here: There Will Be No
              DevFest Without A Networking Beer!
            </p>
          </p>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
