---
import BaseLayout from "../components/Common/BaseLayout.astro";
---

<BaseLayout pageTitle="Faq">
  <div class="grid md:grid-cols-2 grid-flow-row gap-4">
    <div class="flex flex-col justify-start">
      <h2 class="font-medium text-4xl">General</h2>
    </div>
    <div>
      <p>
        We know that you could have some questions so we prepared for you a list
        of FAQs that may can help you 💪<br />

         Anyway we are alway open to solve any other doubt you could have, feel free
        to contact us in that case.
      </p>
      <p>
        <h3 class="font-medium text-lg my-2">How do I get there?</h3>
        <p>
          You can easily reach Polytechnic of Bari with public transportation or
          just by walking. Please check the location page where you can find
          further details.
        </p>
        <h3 class="font-medium text-lg my-2">
          Do I need a ticket to join DevFest Bari?
        </h3>

        <p>
          Yes, participation to the DevFest is free, but registration is
          mandatory. Being in the waiting list is not sufficient to participate
          to the conference.
        </p>

        <h3 class="font-medium text-lg my-2">
          I can't attend the DevFest, what should I do?
        </h3>

        <p>
          If you can't attend we kindly ask you to cancel your order via the GDG
          platform, or either send us an email (we can do it for you).
        </p>
        <h3 class="font-medium text-lg my-2">Do I need to print my tickets?</h3>

        <p>
          No, you can use your smartphone to show us the ticket. Showing the
          ticket email with the QR code is also enough. Please make sure to have
          your ticket ready to do not slow down the check-in process. Should I
          come even if I'm still on the waiting list? You can come even if
          you're in the waiting list, but we can't assure you will get a spot :(
          We will release tickets of people that don't show up during day so you
          may have a chance to get in, but this is out of our control, and we
          can't tell you in advance if you'll get a place.
        </p>

        <h3 class="font-medium text-lg my-2">
          Can I give my ticket to a friend?
        </h3>

        <p>
          Sadly this is not possible. If you're not planning to come, please
          cancel your ticket and ask your friend to register themselves for a
          new ticket.
        </p>

        <h3 class="font-medium text-lg my-2">
          Can I leave the conference and come back later?
        </h3>

        <p>
          Yes, you can always leave the conference and come back whenever you
          want. To enter the venue you anyway always need your badge (you will
          get it at the entrance).
        </p>
        <h3 class="font-medium text-lg my-2">
          What should I carry on to the conference?
        </h3>
        <p>
          Your ticket. That's the only necessary thing you shouldn't forget.
        </p>
        <h3 class="font-medium text-lg my-2">Are the sessions recorded?</h3>
        <p>No, we are not recording/live-streaming the sessions.</p>
      </p>
    </div>
  </div>
</BaseLayout>
