---
import BaseLayout from "../components/Common/BaseLayout.astro";
---

<BaseLayout
  pageTitle="Location"
  pageDescription="The conference will take place at the University of Bari. Bari is a small town, and you can easily walk around or rely on public transportation if you're coming from far away. The address of the venue is: Via Edoardo Ornabona, 17, 56127 Bari PI"
>
  <div class="grid md:grid-cols-2 grid-flow-row gap-4">
    <div class="flex flex-col justify-start">
      <h2 class="font-medium text-4xl">How to get there 🚶‍♂️</h2>
    </div>
    <div>
      <p>
        The conference will take place at the University of Bari. Bari is a
        small town, and you can easily walk around or rely on public
        transportation if you're coming from far away. The address of the venue
        is: Largo Bruno Pontecorvo, 3, 56127 Bari PI
      </p>
    </div>
    <div class="flex flex-col justify-start">
      <h2 class="font-medium text-4xl">By train 🚄</h2>
    </div>
    <div>
      <p>
        Bari's railway station (Bari Centrale) is directly connected with Turin,
        Rome, Genova and Milan. There are frequent connections with the Florence
        main station (Firenze Santa Maria Novella) that you can reach with a
        high-speed train (Freccia Rossa). The train schedule is available at the
        site of Trenitalia. Recall that in Italy, before getting on the train,
        you must stamp your ticket by using those small yellow machines
        available within the station. To reach the venue, you can take the city
        bus number 4 and get off at the bus stop in via Buonarroti (stop called
        Buonarroti 1). Here you can find the directions on Google maps. As an
        alternative, the Department is at walking distance from the railway
        station (approximately 20-30 minutes).
      </p>
    </div>
    <div class="flex flex-col justify-start">
      <h2 class="font-medium text-4xl">By car 🚗</h2>
    </div>
    <div>
      <p>
        Bari is near the intersection of two highways: A12 north-south (Genova -
        Rosignano) and A11 east-west (Bari - Florence). Bari is a small town
        with several pedestrian areas (with access control cameras). Parking is
        a bit of a problem and most parking areas are with pay-meters. The
        nearest free parking to the venue is the Park Pratale (15 minutes walk)
        or the Park Pietrasantina (30 minutes walk).
      </p>
    </div>
    <div class="flex flex-col justify-start">
      <h2 class="font-medium text-4xl">By plane ✈️</h2>
    </div>
    <div>
      <p>
        Bari has an international airport with daily flights to London and
        Munich, as well as to Rome, Milan, and other important Italian cities.
        The timetable of incoming and outgoing flights is available at the site
        of Bari airport. The airport is approximately 3 km from the center. The
        most convenient way to reach the center is probably by taxi. Taxis are
        located near the "Arrivals" exit of the air terminal. If there is no
        taxi out there, you may call the non-stop radio taxi service by dialing
        050 541600. As an alternative you can take the Bari Mover, a city train
        that connects Bari Airport to Bari Railway Station (Bari Centrale), then
        take the city bus number 4 and get off at the bus stop in via F.
        Buonarroti.
      </p>
    </div>
  </div>
</BaseLayout>
