---
import BaseLayout from "../components/Common/BaseLayout.astro";
import ScheduleCard from "../components/Schedule/ScheduleCard.astro";
import { getSchedule } from "../scripts/api/sessionize_api";

const schedule = await getSchedule();
---

<BaseLayout pageUiTitle="Schedule">
  {
    schedule.map((s) => {
      const totalRooms = s.rooms.length;

      return (
        <div class="mb-5">
          <p class="text-3xl font-bold mb-5">
            {new Date(s.date).toLocaleDateString("en-US", {
              day: "numeric",
              month: "long",
              weekday: "long",
            })}
          </p>
          <div
            class={`grid grid-flow-row lg:grid-cols-${totalRooms} grid-cols-1 gap-4`}
          >
            {s.timeSlots.map((ts) =>
              ts.rooms.map((tsr) => {
                const useFullRow =
                  tsr.session.isServiceSession || ts.rooms.length == 1;

                const colspanClass = `lg:col-span-${
                  useFullRow ? totalRooms : 1
                }`;

                return (
                  <div class={colspanClass}>
                    <ScheduleCard value={tsr} />
                  </div>
                );
              })
            )}
          </div>
        </div>
      );
    })
  }
</BaseLayout>
