---
// Welcome to Astro! Everything between these triple-dash code fences

import BaseLayout from "../components/Common/BaseLayout.astro";
---

<BaseLayout pageTitle="Schedule">
  <div></div>
</BaseLayout>
