---
import BaseLayout from "../../components/Common/BaseLayout.astro";
import SessionCard from "../../components/Sessions/SessionCard.astro";
import { getSessions } from "../../scripts/api/sessionize_api";

// is your "component frontmatter". It never runs in the browser.
console.log("This runs in your terminal, not the browser!");

const sessions = await getSessions(true);
---

<BaseLayout pageTitle="Sessions">
  <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-flow-row gap-4 mt-5 mb-7">
    {sessions.map((s) => <SessionCard session={s} />)}
  </div>
</BaseLayout>
