---
import { type CollectionEntry } from "astro:content";
import SpeakersLinks from "../Speakers/SpeakersLinks.astro";
import { type SpeakerLinks } from "../../scripts/api/sessionize_api";

interface Props {
  value: CollectionEntry<"staff">;
}

const { value }:Props = Astro.props;
---

<div class="flex flex-row">
  <div class="flex-none w-32 pr-3">
    <img
      class="rounded-full"
      src={`/assets/images/staff/${value.data.image}`}
      alt={value.data.name}
    />
  </div>
  <div class="flex-1">
    <p class="font-medium text-2xl">{value.data.name}</p>
    <p>{value.data.tagline}</p>
    <div class="my-2"></div>
    <SpeakersLinks
      links={value.data.links as SpeakerLinks}
    />
  </div>
</div>
