<div class="flex md:flex-row flex-col py-8 bg-amber-500 text-white">
  <div class="flex max-w-6xl lg:w-4/5 w-full m-auto px-4">
    <div class="flex-1 md:w-64 flex flex-col justify-center text-center">
      <p class="text-5xl font-bold mb-4">What is Devfest Bari?</p>
      <p class="text-lg">
        <b> DevFest Bari</b>, or ‘Developers Festival’, is one of the local
        conferences hosted by Google Developer Groups (GDG) around the world.
        Each DevFest is crafted by its local organizers to fit the needs and
        interests of its local developer community. Whether it be through
        hands-on learning experiences, technical talks delivered in local
        languages by experts, or by simply meeting fellow local developers,
        DevFest attendees learn how to build together and innovate on Google's
        developer tools.
      </p>
    </div>
  </div>
</div>
