<div class="flex md:flex-row flex-col py-8 bg-amber-500 text-white">
    <div class="flex max-w-6xl lg:w-4/5 w-full m-auto px-4">
      <div class="flex-1 md:w-64 flex flex-col justify-center text-center">
        <p class="text-5xl font-bold mb-4">Join Discord Community</p>
        <p class="text-lg">
            Unisciti a noi per fare parte di una community in crescita, migliorare le tue conoscenze e abilità e trovare uno spazio accogliente dove essere te stesso. Offriamo un ambiente di supporto, discussioni stimolanti, eventi divertenti, condivisione di risorse e opportunità di networking.
        </p>
        <a
        class="mt-16 mx-auto text-center p-3 border border-bg-white hover:bg-amber-600 text-white ease-in duration-100"
        href="https://discord.gg/fNdKEAZFCj" target="_blank">JOIN DISCORD GROUP</a
      >
      </div>
    </div>
  </div>
  