<div class=" text-white jumbo h-screen bg-amber-700/50 flex flex-col justify-center content-center before:bg-[url(/assets/images/bari.jpg)] before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-cover before:bg-center before:z-[-1]">
    <div class="p-10 text-center">
        <h1 class="text-6xl font-medium mb-4"> Devfest Bari 2023 </h1>
        <p class="text-3xl"> Dicembre 2023</p>
        <p class="text-3xl"> Politecnico di Bari 2023</p>
    </div>
</div>