---
import { WebsiteConfig } from "../../config";
---

<div class="text-white jumbo h-screen flex flex-col">
  <img class="object-cover h-full" src="/assets/images/bari.jpg" alt="" />
  <div class="bg-amber-700/50 flex flex-col justify-center content-center absolute top-0 left-0 right-0 h-screen">
    <div class="p-10 text-center">
      <h1 class="text-6xl font-medium mb-4">Devfest Bari 2023</h1>
      <p class="text-3xl">
        {
          WebsiteConfig.EVENT_START.toLocaleDateString("en-US", {
            month: "long",
            year: "numeric",
          })
        }
      </p>
      <p class="text-3xl">{WebsiteConfig.EVENT_LOCATION}</p>
    </div>
  </div>
</div>
