<div class="relative flex flex-col">
  <div class="h-128 bg-[url(/assets/images/location.png)] bg-center bg-cover">
  </div>
  <div class="relative max-w-6xl lg:w-4/5 w-full m-auto md:px-4">
    <div
      class="md:absolute md:flex-none bottom-8 left-4 md:w-72 p-6 bg-amber-400 text-white"
    >
      <p class="text-3xl mb-3">The venue</p>
      <p class="mb-3">Centre de Congrès Pierre Baudis</p>
      <p>
        The Centre de Congrès Pierre Baudis is a modern place of exchange,
        located on a privileged location, in the immediate vicinity of the
        centre of Toulouse and in a green environment.
      </p>
      <div class="flex flex-row mt-4 items-center">
        <div class="flex-1">Via Edoardo Orabona, 4, 70126 Bari</div>
        <a
          class="flex-none ml-3 p-2 bg-white/25 hover:bg-white/40 ease-in duration-100 rounded-full"
          role="button"
          href="https://goo.gl/maps/rUJghnqCqWYs7uhc7"
        >
          <img src="/assets/vectors/directions.svg" alt="Go to location" />
        </a>
      </div>
    </div>
  </div>
</div>
