---
import { getCollection } from "astro:content";

const external = await getCollection("externals");

const mainSponsors = external.filter((ext) => ext.data.type === "sponsor_main");
const partners = external.filter((ext) => ext.data.type === "partner");
---

<div class="py-6 max-w-6xl lg:w-4/5 w-full m-auto px-4 mb-10">
  <h2 class="text-6xl font-bold mb-10">Sponsor & partner</h2>
  <div
    class="grid lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-2 grid-flow-row gap-4 mb-4"
  >
    {
      [...mainSponsors, ...partners].map((sponsor) => (
        <a
          href={sponsor.data.url}
          class="p-3 shadow-md hover:shadow-lg duration-100 ease-in"
        >
          <img src={sponsor.data.image} alt={sponsor.data.name} />
        </a>
      ))
    }
  </div>
  <div class="flex gap-4">
    <a
      class="mt-5 py-2 px-4 rounded-r-sm bg-amber-500 hover:bg-amber-600 text-white ease-in duration-100 text-md"
      href="https://sessionize.com/devfest-bari-2023/"
      target="_blank">Become a partner</a
    >
    <a
      class="mt-5 py-2 px-4 rounded-r-sm hover:bg-amber-500/50 text-amber-600 ease-in duration-100 text-md"
      href="https://sessionize.com/devfest-bari-2023/"
      target="_blank">Read the proposal</a
    >
  </div>
</div>
