---
// Welcome to Astro! Everything between these triple-dash code fences

import Footer from "./Footer.astro";
import Navbar from "./Navbar.astro";
import PageHead from "./PageHead.astro";
import PageTitle from "./PageTitle.astro";

interface Props {
  pageTitle: string;
  pageUiTitle?: string;
  pageDescription?: string;
  navbarTrasparent?: boolean;
}

const { pageTitle, pageUiTitle, pageDescription, navbarTrasparent } =
  Astro.props;
---

<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<html lang="en" class="scroll-smooth flex flex-col min-h-screen">
  <PageHead title={pageTitle} description={pageDescription} />

  <body class="flex-1 flex flex-col">
    <Navbar transparentMode={navbarTrasparent} />

    <main
      id="swup"
      class="main-content transition-fade flex flex-col items-stretch max-w-6xl lg:w-4/5 w-full m-auto px-4 pb-12 flex-1"
      data-swup="0"
    >
      <PageTitle title={pageUiTitle ?? pageTitle} />

      <slot />
    </main>

    <Footer />
  </body>
</html>
