---
const year = new Date().getFullYear();
---

<div class="flex flex-row justify-start p-4 bg-zinc-800 text-white">
    <span>Copyright {year}</span>
</div>

<script src="/src/pwa.ts"></script>
<script src="/src/scripts/swup.ts"></script>