---
interface Props{
    title: string;
    subtitle?: string;
}

const {title, subtitle} = Astro.props;

---

<div class="h-32 mt-24 mb-8 flex flex-col justify-center">
    <h1 class="text-6xl mb-4 font-bold">{title}</h1>
    <p class="text-xl font-semibold">{subtitle}</p>
</div>